body {
  background-image: url(images/hell.jpg);
  background-size: cover;
}

:root {
  --border-color-inputs: pink;
  --background-inputs: #f0fff0;
  --text-color: #800080;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.addImg {
  margin-right: 70px;
  width: 200px;
  height: 200px;
}

.addImg:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.h1ElementHeader {
  color: var(--text-color);
  text-shadow: 2px 2px 8px rgb(253, 112, 135);
  margin-top: 60px;
}

.content {
  display: flex;
  justify-content: center;
}

.inputCurrency {
  margin: 5px;
  width: 120px;
  height: 29px;
  margin-bottom: 20px;
  border: 2px solid var(--border-color-inputs);
  background-color: var(--background-inputs);
  text-align: center;
  color: var(--text-color);
  outline: none;
  font-weight: 600;
  margin-top: 8px;
}

.inputCurrency:focus,
.form-select:focus,
.getCurrencies:focus {
  border-color: rgb(170, 82, 170);
}

.form-select {
  margin: 5px;
  width: 120px;
  height: 35px;
  color: var(--text-color);
  border: 2px solid var(--border-color-inputs);
  background-color: var(--background-inputs);
  outline: none;
  font-weight: 600;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getCurrencies {
  height: 32px;
  border: 2px solid var(--border-color-inputs);
  background-color: var(--background-inputs);
  width: 130px;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-color);
  outline: none;
  margin-top: 5px;
}

.getCurrencies:hover {
  background-color: rgb(247, 190, 247);
}

.negativeValueOfTheNumber {
  color: var(--text-color);
  font-size: 25px;
  font-weight: bold;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #d1f8ff;
  border-top: 6px solid #f56ef5;
  border-radius: 100%;
  visibility: hidden;
  animation: spin 1s infinite linear;
  margin-top: 13px;
}

.loader.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  